.header {
  height: 34vw;
  margin: 0 auto;
  background: url("/header_img.png") no-repeat center center;
  background-size: cover;
  position: relative;
  display: block;
  width: 80%;
  margin-top: 20px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 2s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: 2.5vw;
  background-color: rgba(222, 48, 222, 0.8);
  border-radius: 15px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.order {
  color: rgb(57, 1, 226);
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 20px;
}

.header-contents p {
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 1.5;
  padding: 0 5px;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 800;
  padding: 1vw 2.3vw;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 15px;
  animation: fadeIn 2s;
}

/* Medium Screen Adjustments */
@media (max-width: 1050px) {
  .header {
    height: 38vw;
    width: 90%;
  }
  .header-contents {
    max-width: 60%;
    left: 5vw;
    bottom: 12%;
  }
  .header-contents h2 {
    font-size: 2.2vw;
  }
  .header-contents p {
    font-size: 1.1vw;
  }
}

/* Small Screen Adjustments */
@media (max-width: 750px) {
  .header {
    height: 50vw;
    width: 100%;
  }
  .header-contents {
    max-width: 80%;
    left: 4vw;
    bottom: 15%;
  }
  .header-contents h2 {
    font-size: 5vw;
  }
  .header-contents p {
    font-size: 3vw;
  }
  .header-contents button {
    padding: 3vw 6vw;
  }
}

/* For 700px Screen Width */
@media (max-width: 700px) {
  .header {
    height: 55vw;
  }
  .header-contents {
    max-width: 75%;
    left: 5vw;
    bottom: 20%;
  }
  .header-contents h2 {
    font-size: 4.5vw;
  }
  .header-contents p {
    font-size: 2.8vw;
  }
  .header-contents button {
    padding: 2.5vw 5vw;
  }
}

/* For 600px Screen Width */
@media (max-width: 600px) {
  .header {
    height: 60vw;
  }
  .header-contents {
    max-width: 80%;
    left: 5vw;
    bottom: 25%;
  }
  .header-contents h2 {
    font-size: 5vw;
  }
  .header-contents p {
    font-size: 3.2vw;
  }
  .header-contents button {
    padding: 3vw 6vw;
  }
}
